@use "../../Assets/_variables.scss"as *;

.grid-container--projects {
	display: grid;
	gap: $spacing-small $spacing-small;
	grid-template-columns: repeat(3, 1fr);
	margin: 2rem;
	background-color: $color-background;
	margin-left: 17rem;

	div:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: $color-background;
		font-size: $font-size-medium;
	}

	.grid-item {
		background-color: $color-info;
		padding: $spacing-small;
		font-size: $font-size-small;
		text-align: center;

		img {
			width: 20rem;
			height: 12rem;
		}

		h2, p, a {
			background-color: $color-info;
		}
	}
}

/* Mobile View */
@media screen and (min-width: 390px) and (max-width: 844px) {
	section.grid-container--projects {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-left: 0;

		div:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 1;
		}
	}
}

/* Tablet View */
@media screen and (min-width: 834px) and (max-width: 1194px) {
	section.grid-container--projects {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-left: 0;

		div:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}