@use "../../Assets/_variables.scss"as *;

.grid-container--about {
	display: grid;
	gap: 20px 350px;
	grid-template-columns: repeat(2, 1fr);
	padding-left: $spacing-large;
	padding-right: $spacing-large;
	font-size: $font-size-medium;

	div:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	h1 {
		text-align: center;
		padding-bottom: $spacing-medium;
		font-size: $font-size-large;
	}

	.grid-item {
		font-size: $font-size-small;

		p {
			margin-bottom: $spacing-small;
		}

		ul {
			margin-left: $spacing-medium;
		}

		&__photo img {
			display: none;
		}
	}
}

/* Mobile View */
@media screen and (max-width: 600px) {
	section.grid-container--about {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-left: 0;

		div:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 1;

			p {
				margin-top: $spacing-medium;
			}
		}

		.grid-item__photo img {
			display: block;
			margin: auto;
			width: 17rem;
			height: 33rem;
			border-radius: 5px;
		}
	}
}

/* Tablet View */
@media screen and (min-width: 834px) and (max-width: 1194px) {

	section.grid-container--about {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: $spacing-small;
		margin-left: 0;

		div:nth-child(1) {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}