@use "../../Assets/_variables.scss" as *;

.grid-container--about {
    display: grid;
    gap: 20px 350px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  
    div:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    .grid-item {
      font-size: $font-size-small;
  
      h1 {
        text-align: center;
        padding-bottom: $spacing-medium;
        font-size: $font-size-large;
      }
  
      p {
        margin-bottom: $spacing-small;
      }
  
      ul {
        margin-left: $spacing-medium;
      }
    }
  
    .photo img {
      display: none;
    }
  }
  