@use "../../Assets/_variables.scss"as *;

.contacts {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $color-background;
	padding: $spacing-small;
	text-align: center;
	color: $color-primary;
	margin-left: 15rem;


	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60%;
		text-decoration: none;
		color: $color-primary;
		font-size: $font-size-large;
		margin: 2rem;

		&:active {
			color: $color-success;
		}

		&:hover {
			text-decoration: underline;
			background-color: $color-background;
		}
	}

}

@media screen and (min-width: 390px) and (max-width: 844px) {
	.contacts {
		background-color: $color-primary;
		margin-left: 0;
	}
}