@use "./Assets/_variables.scss"as *;

* {
	box-sizing: border-box;
	font-family: $font-text;
	color: $color-primary;
	background-color: $color-background;
}

.main {
	background-color: $color-background;
	margin-left: 15rem;
}

h1 {
	font-family: $font-headings;
}

/* Mobile View */
@media screen and (min-width: 390px) and (max-width: 844px) {
	.main {
		margin-left: 0;
	}
}