@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap");
.header {
  font-weight: bold;
}
.header .brand {
  color: #ba3a3a;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  width: 300px;
}
.header .brand:hover {
  background-color: #4e5d6c;
  color: #5cb85c;
}
.header .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 60px;
  color: #ba3a3a;
  background-color: #17033a;
}

.sidenav {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #17033a;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  display: flex;
  text-decoration: none;
  color: #ba3a3a;
  padding: 20px;
  font-size: 20px;
}
.sidenav a:hover {
  background-color: #09011d;
}
.sidenav a:active {
  color: #ea912b;
}

/* Mobile View */
@media screen and (min-width: 390px) and (max-width: 844px) {
  .sidenav {
    display: inline;
    width: 100%;
    height: 8rem;
  }
  .sidenav a {
    display: inline;
  }

  .header {
    grid-template-columns: auto;
    position: relative;
  }
  .header .brand {
    display: none;
  }
  .header .nav > a {
    display: inline;
  }
  .header .nav > a:hover {
    background-color: #4e5d6c;
  }
  .header .nav > a:active {
    color: #5cb85c;
  }
}