@use "../../Assets/_variables.scss"as *;

.sidenav {
	height: 100%;
	width: 15rem;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $color-light;
	// background-color:#485A73;
	overflow-x: hidden;
	padding-top: 20px;
	font-weight: bold;

	a {
		display: flex;
		text-decoration: none;
		padding: $spacing-small;
		font-size: $font-size-small;

		&:hover {
			background-color: $color-background;
			// background-color: $color-background;
		}

		&:active {
			color: $color-secondary;
		}
	}


}

/* Mobile View */
@media screen and (min-width: 390px) and (max-width: 844px) {

	.hamburger {
		display: block;
		padding-top: 10px;
		margin-left: 10px;
		z-index: 10000;
	}

	.sidenav {
		display: inline;
		width: 100%;
		height: 5rem;

		a {
			display: inline;
		}
	}



	.header {
		grid-template-columns: auto;
		position: relative;

		.brand {
			display: none;
		}
	}
}