@use "../../Assets/_variables.scss"as *;

.sidenav {
	height: 100%;
	width: 15rem;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $color-light;
	overflow-x: hidden;
	padding-top: 20px;
	font-weight: bold;

	.nav {
		a {
			background-color: $color-light;
		}
	}

	a {
		display: flex;
		text-decoration: none;
		padding: $spacing-small;
		font-size: $font-size-small;

		&:hover {
			background-color: $color-background;
		}

		&:active {
			color: $color-secondary;
		}
	}


}

/* Mobile View */
@media screen and (max-width: 833px) {

	.sidenav {
		display: inline;
		width: 100%;
		height: 5rem;

		a {
			display: inline;
			background-color: $color-light;
		}
	}

	.header {
		grid-template-columns: auto;
		position: relative;

	}
}

